.nav_container {
    grid-row: 1;
    grid-column: 1 / -1;
    background-color: transparent;
    position: absolute;
    width: 100%;
    overflow: hidden;
    top: 0;
    z-index: 2;
}

.nav_container ul {
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: right;
}

.nav_container a {
    float: left;
    color: var(--color-dark);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav_container a:hover {
    color: var(--color-primary);
}

.nav_container li {
    position: relative;
}

.nav_container li.active a {
    color: var(--color-primary);
}

.nav_container li.active::before {
    height: 5px;
    background-color: var(--color-primary);
}

.nav_container li::before {
  transition: 300ms;
  height: 0px;
  content: "";
  position: absolute;
  background-color: var(--color-dark);
}

.grow::before {
    height: 0%;
    width: 100%;
    bottom: 0px;
}
  
.grow:hover::before {
    height: 5px;
    background-color: var(--color-primary);
}