.skills {
    margin-top: 20px;
}

.skills_container {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 0px;
    width: 90%;
    margin: 0 auto;
}

.skills_detail {
    background-color: transparent;
    padding: 0.5rem 1rem;
    border: 1px solid var(--color-bg-variant);
    border-radius: 1rem;
    transition: var(--transition);
}

.skills_detail:hover {
    background-color: var(--color-bg-variant);
    border-color: transparent;
    color: var(--color-light);
    cursor: default;
}

.skills_detail {
    display: flex;
    gap: 1rem;
}

.skills_detail_icon {
    margin-top: 6px;
}